body {
    margin: 0px;
    width: 100vw;
    font-family: sans;
    font-size: 1.5em;
    background-color: white;
}

section {
    width: 95%;
    margin: 10px;
}

p {
    max-width: 75%;
    margin: 5px;
    padding: 15px;
}

ul {
    padding: 5px;
    font-family: monospace;
    margin: 25px;
    list-style-type: none;
}

header {
    width: 100%;
    margin: 0px;
    padding: 15px;
    font-size: 2em;
    color: white;
    background-color: black;
}

quote {
    font-family: serif;
}